<div class="dialog">
<p><%= params[:question] %></p>
<p class="fw-bold">-You</p>
</div>

<div class="dialog bg-warning-subtle rounded">
<p><%= @coach%></p>
<p class="fw-bold">-Your coach</p>
</div>

<%= link_to "Back to ask", "ask", class: "btn btn-primary" %>
